<main (click)="closeModalOutSite($event)">
  <h2>Bottom Modal</h2>

  <!-- Trigger/Open The Modal -->
  <button id="myBtn" (click)="displayModal()">Open Modal</button>

  <!-- The Modal -->
  <div id="myModal" [ngStyle]="{'display': displayingModal}" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span (click)="hideModal()" class="close">&times;</span>
      </div>
      <div class="modal-body">
        <p>Some text in the Modal Body</p>
        <p>Some other text...</p>
      </div>
    </div>

  </div>
</main>
